/* ظل العناصر  */
.sh {box-shadow: 1px 1px 5px -2px #50a291;}
.sh0{box-shadow: 0 .12rem 1rem rgba(0,0,0,.15)!important;}
/* العرض والطول والمقاسات  */
.pm10{ padding: 10px; margin: 10px;}
.pm10{ padding: 10px; margin: 10px;}
.pm5{ padding: 5px; margin: 5px;}
/* تصحيح القيم الافتراضية  */
a{text-decoration: none;color: #000;}
body{padding: 0;margin: 0;text-align: center}

/* العرض */
.fl{float: left;}
.fr{float: right;}
.dplayn{display: none;}
.dplayi{display: inline;}
.dplayb{display: block;}