 body {
     margin: 0;
     padding: 0;
     font-size: sans-serif;
 }
.shadow1 {
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
} 
 
.navbar {
    
    overflow: hidden;
    background-color: #fff;
    color: #000;
   
} 
 .logo { 
     padding:  10px  20% 10px 10px   ;
     float:right;
     height: 44px ;
     width: 44px ; 
}  
.container {
    width: 80%;
    margin: auto;
    float:right;
}
 
.active   {
    padding: 15px;
    border-radius: 10px;
    background-color: #85bd45;
    color: #FFF;
}
.btn{ 
     border-radius: 10px; 
    box-shadow: 1px 1px 5px -2px #50a291;
   padding: 10px ;
   margin: 10px;
 
} 
.btn1{ 
      padding: 21px 32%;
    margin: -33px;
} 